# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*    @cshanahan1  @gibsongreen   

# ACS Notebooks
notebooks/ACS/*/*/*  @alyssaguzman

# COS Notebooks
notebooks/COS/*/*/*  @mrafelski

# DrizzlePac Notebooks
notebooks/DrizzlePac/*/*/* @mackjenn @mrevalski @bjkuhn

# NICMOS Notebooks
notebooks/DrizzlePac/*/*/* @sosey @FDauphin

# WFC3 Notebooks
notebooks/WFC3/*/*/* @FDauphin

# STIS Notebooks
notebooks/STIS/*/*/* @Jackie-Brown  @sean-lockwood

# MAST
notebooks/MAST/*/*/* @ttdu
