# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request. The people
# below represent the two technical reviewers for notebooks
# and the person acting as the repository curator.
*    @cshanahan1  @gibsongreen  @alyssaguzman


# This repo has clear expertise in content separated by
# HST instrument teams or major project. Each of the people below represents
# their team in ensuring the information for their notebooks
# is appropriate and functioning as expected.

# ACS Notebooks
notebooks/ACS/*/*/*  @alyssaguzman

# COS Notebooks
notebooks/COS/*/*/* @annapayne  @SveaHernandez 

# DrizzlePac Notebooks
notebooks/DrizzlePac/*/*/* @mrevalski 

# NICMOS Notebooks
notebooks/NICMOS/*/*/* @sosey

# WFC3 Notebooks
notebooks/WFC3/*/*/* @astromariarosa @bjkuhn 

# STIS Notebooks
notebooks/STIS/*/*/* @Jackie-Brown @sean-lockwood

# HASP
notebooks/HASP/*/*/* @annapayne @SveaHernandez

