# requires python3.6 or higher
acstools
astropy
astroquery
calcos
ccdproc
costools
crds
drizzlepac
ipython
jupyterlab
matplotlib
numpy
numpy 
pandas
photutils
pyregion
refstis
regions
scipy
specutils
stis_cti
stistools
stsci.image
stsci.imagestats
stsci.skypac
stsci.stimage
stsci.tools
stwcs
synphot
