
# requires python3.6 or higher
acstools
astropy
astroquery
calcos
ccdproc
costools
crds
drizzlepac
ipython
jupyterlab
matplotlib
numpy
numpy 
pandas
photutils
pyregion
regions
scipy
specutils
stsci.skypac
stwcs
synphot
