regions>=0.7
astropy>=6.0.0
astroquery>=0.4.6
crds>=11.17.15
drizzlepac>=3.6.2
ipython>=8.21.0
matplotlib>=3.8.2
photutils==1.12.0 # The drizzlepac needs deprecated methods such as DAOGroup.
jupyter>=1.0.0
acstools>=3.7.1
scikit-image>=0.20.0
