astropy>=6.0.1
astroquery>=0.4.7
crds>=11.17.20
drizzlepac>=3.6.2
ipython>=8.22.2
jupyter>=1.0.0
matplotlib>=3.8.4
numpy>=1.26.4
photutils==1.12.0  # The drizzlepac needs deprecated methods such as DAOGroup.
