name: pr266
channels:
  - conda-forge
dependencies:
  - hdf5
  - pip:
    - python >=3.9
    - ipython
    - pip
    - drizzlepac
    - astropy
    - astroquery
    - crds
    - ipython
    - matplotlib
    - numpy<2.0
    - jupyter
    - photutils==1.12.0
