asdf>=3.4.0 # required to install grismconf
astropy>=6.0.1
astroquery>=0.4.7
grismconf>=1.51
jwst>=1.15.1 # required to install grismconf
matplotlib>=3.8.4
numpy>=1.23.5
photutils>=1.12.0
scipy>=1.14.0
tqdm>=4.66.2