acstools==3.6.1
astropy==5.2.1
matplotlib==3.7.0
numpy==1.23.4
astroquery==0.4.6
stsci-image==2.3.5
stsci-imagestats==1.6.3
stsci-skypac==1.0.9 
stsci-stimage==0.2.5 
stsci-tools==4.0.1 
crds==11.16.14
photutils==1.6.0
scikit-image==0.19.3