astropy==5.2.1
astroquery==0.4.6
crds==11.17.3
drizzlepac==3.6.1
ipython==8.11.0
matplotlib==3.6.0
pandas==1.5.3
stistools==1.4.4
stsci.tools==4.0.1
pysynphot==1.0.0
photutils==1.9.0
setuptools==52.0.0
stwcs==1.6.1
stis_cti @ git+https://github.com/spacetelescope/stis_cti@master
refstis @ git+https://github.com/spacetelescope/refstis@master